<%= form_for(@movie) do |f| %>
    <p id="notice"><%= notice %></p>
    <% if @movie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
          <ul>
            <% @movie.errors.full_messages.each do |msg|
            %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :search_term %>
      <br/>
      <%= f.text_field :search_term %><%= submit_tag "Search", :name => "rtfetch", :id => "rtfetch" %><img src="/assets/ajax-loader.gif" id="ajax_loader"/>
    </div>

    <div class="field" id="movie_list" style="display:none">
      <%= f.label :name %>
      <br/>
      <%= f.select(:name, ['Enter your query to get a list of movies'], {}, :disabled => true) %><%= f.submit %>
    </div>

<% end %>
