<%# TODO: Scope out the names to the appropriate tables %>
<%# TODO: Check movie release date after adding (add to resque queue) %>
<p id="notice"><%= notice %></p>
<script type="text/javascript">

    $('.movies.index').ready(function() {
        queryNotifications()

        setInterval(function() {
            queryNotifications()
        }, 5000)
    });
</script>
<h1 style="padding-left: 4em;">Movie Queue</h1>
<%= link_to '+', new_movie_path, :class => "plus add_movie" %><%= link_to 'Movie', new_movie_path, :class => "add_movie", :id => "add_movie" %>
<br/>
<br/>
<div style="clear: both;"></div>
<% @movies.each do |movie| %>

    <div style="float: left; margin: 10px; height: 200px; overflow: hidden;" class="movie_info" data-id="<%= movie.id %>" data-title="<%= movie.name %>">
      <%= link_to image_tag(movie.movie_cover_path), edit_movie_path(movie) %>
    </div>
<% end %>
<div style="clear: both;"></div>

<%= link_to 'New Movie', new_movie_path %>

