<strong><%= @movie.name %></strong> (<%= @movie.year %>)
<table>
  <tr>
    <td rowspan="6"><img src="<%= @movie.thumbnail_url %>" alt="Rotten Tomatoes thumb for <%= @movie.name %>"/></td>
  </tr>
  <tr>
    <td><strong>Search Term:</strong></td>
    <td><%= @movie.search_term %></td>
  </tr>
  <tr>
    <td>Rating</td>
    <td><%= @movie.mpaa_rating %></td>
  </tr>
  <tr>
    <td><strong>Critics Score:</strong></td>
    <td><%= @movie.critics_score %></td>
  </tr>
  <tr>
    <td><strong>Audience Score:</strong></td>
    <td><%= @movie.audience_score %></td>
  </tr>
  <tr>
    <td><strong>Movie Length:</strong></td>
    <td><%= @movie.seconds_to_string(@movie.runtime * 60) %></td>
  </tr>
</table>
