<html>
<head>
  <title>Whatever.</title>
  <style type="text/css">
    table * {
        font-size: 12px;
    }
    #movie_info {
        font-size: 12px;
    }
   </style>
</head>
<body>
<table id="movie_info">
  <tr>
    <td><strong>Year</strong></td>
    <td><%= @movie.year %></td>
  </tr>
  <tr>
    <td><strong>Rating</strong></td>
    <td><%= @movie.mpaa_rating %></td>
  </tr>
  <tr>
    <td><strong>Critics Score:</strong></td>
    <td><%= @movie.critics_score %></td>
  </tr>
  <tr>
    <td><strong>Audience Score:</strong></td>
    <td><%= @movie.audience_score %></td>
  </tr>
  <tr>
    <td><strong>Movie Length:</strong></td>
    <td><%= @movie.seconds_to_string(@movie.runtime * 60) %></td>
  </tr>
</table>
</body>
</html>