<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>
  <b>Active:</b>
  <%= @movie.active %>
</p>

<p>
  <b>Download start:</b>
  <%= @movie.download_start %>
</p>

<p>
  <b>Download finish:</b>
  <%= @movie.download_finish %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
